Recuperación/Recuperación/Ejercicios DTD-XML/XML Schema/Soluciones XML/5_XML.xml

<!-- archivoXSD.xsd -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definición del elemento vehiculos -->
  <xs:element name="vehiculos">
    <xs:complexType>
      <xs:sequence>
        <!-- Declaración del elemento vehiculo -->
        <xs:element name="vehiculo" type="vehiculoType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definición del tipo vehiculoType -->
  <xs:complexType name="vehiculoType">
    <xs:sequence>
      <!-- Declaración de elementos obligatorios en orden -->
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="modelo" type="xs:string"/>
      <xs:element name="fabricacion" type="fabricacionType"/>
      <xs:element name="modificaciones" type="modificacionesType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definición del tipo fabricacionType -->
  <xs:complexType name="fabricacionType">
    <xs:sequence>
      <!-- Declaración de elementos obligatorios en orden -->
      <xs:element name="inicio" type="fechaType"/>
      <xs:element name="fin" type="fechaType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definición del tipo fechaType -->
  <xs:complexType name="fechaType">
    <xs:sequence>
      <!-- Declaración de elementos obligatorios en orden -->
      <xs:element name="dia" type="xs:string"/>
      <xs:element name="mes" type="xs:string"/>
      <xs:element name="anyo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definición del tipo modificacionesType -->
  <xs:complexType name="modificacionesType">
    <xs:sequence>
      <!-- Declaración del elemento modificacion -->
      <xs:element name="modificacion" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Restricciones adicionales para los elementos dia, mes y anyo -->
  <xs:simpleType name="diaMesAnyoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Asociación de los tipos a los elementos -->
  <xs:element name="dia" type="diaMesAnyoType"/>
  <xs:element name="mes" type="diaMesAnyoType"/>
  <xs:element name="anyo" type="xs:gYear"/>

</xs:schema>
