Recuperación/XML Schema/Soluciones XML/6_XML.xml

<!-- archivoXSD.xsd -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definición del tipo de datos para las URLs -->
  <xs:simpleType name="urlType">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="https?://.*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Definición del tipo de datos para la edad -->
  <xs:simpleType name="edadType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Definición del tipo de datos para el reparto -->
  <xs:complexType name="repartoType">
    <xs:choice minOccurs="1">
      <xs:element name="actor" type="xs:string"/>
      <xs:element name="actriz" type="xs:string"/>
    </xs:choice>
  </xs:complexType>

  <!-- Definición del tipo de datos para director o directora -->
  <xs:complexType name="directorType">
    <xs:choice minOccurs="1">
      <xs:element name="director" type="xs:string"/>
      <xs:element name="directora" type="xs:string"/>
    </xs:choice>
  </xs:complexType>

  <!-- Definición del tipo de datos para clasificación -->
  <xs:complexType name="clasificacionType">
    <xs:choice>
      <xs:element name="clasificacion" minOccurs="1">
        <xs:complexType>
          <xs:attribute name="edad" type="edadType" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="sin-clasificar"/>
    </xs:choice>
  </xs:complexType>

  <!-- Definición del tipo de datos para la película -->
  <xs:complexType name="peliculaType">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"/>
      <xs:element name="titulo-original" type="xs:string" minOccurs="0"/>
      <xs:element name="pais-produccion" type="xs:string"/>
      <xs:element name="generos" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="clasificacion" type="clasificacionType" minOccurs="1"/>
      <xs:element name="sinopsis" type="xs:string"/>
      <xs:element name="director" type="directorType"/>
      <xs:element name="reparto" type="repartoType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="web" type="urlType" minOccurs="0"/>
      <xs:element name="imdb" type="urlType" minOccurs="0"/>
      <xs:element name="cartel" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="codigo" type="xs:string" use="required"/>
    <xs:attribute name="duracion" type="xs:string" use="required"/>
    <xs:attribute name="ano" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- Definición del elemento peliculas -->
  <xs:element name="peliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pelicula" type="peliculaType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
